# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build/
dist/

# Dependency directories
/.pnp/
/.pnp.js

# Testing
/coverage/

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env

# Ignore front-end package lock
/package-lock.json
/yarn.lock
